{% extends "base.html" %}
{% block content %}
<h1>{{post.subject}}</h1>
<p>
  {{post.content}}
</p>
<br>
<p>
  created at : {{post.created_at.strftime("%Y-%m-%d")}}
</p>
<p>
  last modified at : {{post.last_modified.strftime("%Y-%m-%d")}}
</p>
<p>
  <form  action="/blog/like" method="post">
    <input type="hidden" name="post_id" value="{{post.key().id_or_name()}}">
    <button>Like</button>
    <div class="error">
      {{error}}
    </div>
  </form>
</p>
<p>
  {{post.likes_set.count()}}
</p>
<a href="/blog/{{post.key().id_or_name()}}/edit">Edit</a>

<form action="/blog/delete" method="POST">
    <input type="hidden" name="id" value="{{post.key().id_or_name()}}" />
    <input type="submit" value="delete">
</form>
<!-- <a href="/blog/{{post.key().id_or_name()}}/delete">Delete</a> -->
{% endblock %}
