{% extends "base.html" %}
{% block content %}
<div class="post-heading">
  <div class="post-title">
    {{post.subject}}
  </div>
  <div class="post-date">
    {{post.created_at.strftime("%Y-%m-%d")}}
  </div>
</div>
<div class="post-content">
  {{post.content}}
</div>
<div class="like">
  total likes: {{post.likes_set.count()}}
  <form  action="/blog/like" method="post">
    <input type="hidden" name="post_id" value="{{post.key().id_or_name()}}">
    <button>Like</button>
    <div class="error">
      {{error}}
    </div>
  </form>
</div>
<div class="edit-post">
  <table>
    <tr>
      <th>
          <a href="/blog/{{post.key().id_or_name()}}/edit">Edit</a>
      </th>
      <th>
        <form action="/blog/delete" method="POST">
            <input type="hidden" name="id" value="{{post.key().id_or_name()}}" />
            <input type="submit" class="delete" value="delete">
        </form>
      </th>
    </tr>
  </table>


</div>
<div class="comment">
  <p>
    Comment
  </p>
  <form action="/blog/comment" method="post">
    <input type="hidden" name="post_id" value="{{post.key().id_or_name()}}">
    <textarea name="comment" rows="4" cols="20">{{comment}}</textarea>
    <br>
    <input type="submit">
  </form>

  <div class="error">
    {{comment_error}}
  </div>
  <hr>
  {% for comment in post.comment_set.order('-created_at') %}
    <p>
      {{comment.user.username}}
    </p>
    <p>
      {{comment.comment}}
    </p>
    <p>
      {{comment.created_at.strftime("%Y-%m-%d")}}
    </p>
    <a href="/blog/comment/{{comment.key().id_or_name()}}">Edit</a>
    <form action="/blog/comment/{{comment.key().id_or_name()}}/delete" method="post">
      <input type="submit" value="Delete">
    </form>
    <br>
  {% endfor %}
</div>

{% endblock %}
